
  <header class="main-header">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">

    <div class="header-wrapper">

      <div class="main-logo"><a href="#"> lebekaland </a> 
      </div>

      <nav>
        <ul class="main-menu">
          <li><a href="#section-2">HAKKIMDA</a></li>
          <li><a href="#section-5">PORTFÖY</a></li>
          <li><a href="#section-9">HİZMETLER</a></li>
          <li><a href="#main-footer">İLETİŞİM</a></li>
          <li><a href="#"><span class="fa fa-shopping-cart"></span></a></li>
          <li><a href="#"><span class="fa fa-search"></span></a></li>
        </ul>
      </nav>
    </div>
  </header>

