/* You can add global styles to this file, and also import other style files */
html{height: 100%;}
body {
	margin: 0 auto;
    top:0;
    left:0;
	padding: 0;
	font-size: 16px;
	background: #fff;
	section {display: block;} 
	
	h1, h2, h3, h4, h5, h6, ul, li {
		margin: 0;
		padding: 0;
	}
	h1 {
		font-family: Montserrat, sans-serif;
		font-weight: 700;
		text-transform: uppercase;
	}
	h2 {
		font-family: Montserrat, sans-serif;
		font-size: 1.8em;
		font-weight: 700;
		text-transform: uppercase;
	}
	h3 {
		font-family: "Kaushan Script Regular", cursive;
		font-size: 1.5em;
		font-weight: 400;
	}
	h4 {
		font-family: Montserrat, sans-serif;
		font-size: 0.875em;
		font-weight: 400;
		text-transform: uppercase;
	}
	p {
		line-height: 150%;
		font-family: Roboto, sans-serif;
		font-size: 0.9375em;
		color: #999;
	}
	pre {
		line-height: 150%;
		font-family: Roboto, sans-serif;
		font-size: 0.9375em;
		color: #999;
	}
	li {list-style-type: none;}
	a {text-decoration: none;}
}
.bg-wrapper {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8));
}
.section-header {
	padding-top: 5.625em;
	text-align: center;
	h3 {margin-bottom: 0.5em;}
	.line-red {margin: 2.5em auto 2.9375em auto;}
}
.line-red {
	display: block;
	width: 4em;
	height: 0.1875em;
	margin: 0 auto;
	background: #f38181;
}

/* Main Header Styles */
.main-header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1000;
	font-family: Montserrat, sans-serif;
	color: #fff;
	background: transparent;
	.header-wrapper {
		display: block;
		width: 70%;
		margin: 0 auto;
		padding-top: 1em;
		.main-logo {
			font-family: 'Poiret One';
			float: left;
			font-weight: 600;
			font-size: 2em;
			padding-top:5px;

			img{
				width:10%;
				float: left;
			}
		}
		.main-menu {
			float: right;
			text-align: center;
			li {
				display: inline-block;
				padding: 0.75em 1.875em;
				border-left: 5px solid transparent;

				a {
					padding-bottom: 0.75em;
					text-transform: uppercase;
					color: #fff;
					font-size: 1em;
					border-left: 5px solid transparent;

					&:hover {
						color: #fdfdfd;
						border-bottom: 0.1875em solid #363636;
						transition: .1s;
						font-weight: bold;
						border-left: 5px solid transparent;
						font-size:0.98em;
					}
					
					span {font-size: 1.2em;}
				}
				&:last-child {padding: 0.75em 0;}
				&:nth-child(6) a:hover, &:last-child a:hover {border: none;}
			}
		}
	}
}

/* Section-1 Styles */
#section-1 {
	height: 100vh;
	color: #fff;
	background-color: #222;
	.content-slider {
		position: relative;
		width: 100%;
		height: 100%;
		input {display: none;}
		.slider {
			position: relative;
			width: inherit;
			height: inherit;
			overflow: hidden;
			.banner {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				z-index: 0;
				width: inherit;
				height: inherit;
				text-align: center;
				background-repeat: no-repeat;
				background-attachment: fixed;
				transition: all .5s ease;
				
				.biw1{
				background-image: url(assets/images/172.png);
				background-position: center;
				}
				.biw2{
				background-image: url(assets/images/2.png);
				background-position: center;
				}
				.biw3{
				background-image: url(assets/images/12.png);
				background-position: center;
					}
				.biw4{
				background-image: url(assets/images/7.png);
				background-position: center;
					}
					
				.banner-inner-wrapper {
					
					background-attachment: fixed;
					background-size: cover;
					height: 100%;
					padding-top: 6em;
					box-sizing: border-box;
					padding-top: 17em;
					
			
					h3 {
						font-size: 4.5em;
						line-height: 120%;
						font-family: Montserrat;
						font-weight: 700;
						color: white;  
					// Fallback: assume this color ON TOP of image
					// if we can clip, do it
  					//	-webkit-text-fill-color: transparent;
  					//	-webkit-background-clip: text;
  					// what will show through the text or what will be the background of that element */
  					//	background-image: url(assets/images/17.png);

}

					h2 {
						padding-bottom: 0.3em;
						font-family: 'Kaushan Script', cursive;
						font-weight: 400;
						font-size: 2.5em;
						text-transform: none;
					}
					h1 {
						font-size: 6em;
						line-height: 100%;
					}

					.line {
							display: block;
							width: 4em;
							height: 0.1875em;
							margin: 2.5em auto;
							background: #fff;
					}
					.learn-more-button {
						padding-bottom: 5em;
						z-index: 15 !important;
						a {
							padding: 1em 4em;
							text-align: center;
							font-family: Montserrat, sans-serif;
							font-size: 1em;
							font-weight: 500;
							color: #363636;
							text-transform: uppercase;
							border: 0.1875em solid #fff;
							background-color: #fff;
							&:hover {
								color: #ffffff;
								transition: .3s;
								font-weight: bolder;
								border: 0.2em solid #ffffff;
								background-color: transparent;
							}
						}
					}

					.social-button {
						padding-bottom: 5em;
						z-index: 15 !important;
						a {
							padding: 1em 4em;
							text-align: center;
							font-family: Montserrat, sans-serif;
							font-size: 1em;
							font-weight: 500;
							color: #363636;
							text-transform: uppercase;
							border: 0.1875em solid #fff;
							background-color: #fff;
							&:hover {
								color: #ffffff;
								transition: .3s;
								font-weight: bolder;
								border: 0.2em solid #ffffff;
								background-color: transparent;
							}
						}
					}
				}
			}
			#top-banner-1 {background: url('https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-1.png') no-repeat center center; background-size: cover;}
			#top-banner-2 {background: url('https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-2.png') no-repeat center center; background-size: cover;}
			#top-banner-3 {background: url('https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-3.png') no-repeat center center; background-size: cover;}
			#top-banner-4 {background: url('https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-4.png') no-repeat center center; background-size: cover;}
		}
		nav {
			position: absolute;
			bottom: 0.5em;
			width: 100%;
			z-index: 10;
			text-align: center;
			.controls {
				display: block;
				width: 70%;
				margin: 0 auto;
				font-family: Montserrat, sans-serif;
				color: #fff;
				label {
					position: relative;
					display: inline-block;
					width: 20%;
					height: 3.1em;
					overflow: hidden;
					margin: 0 1em;
					padding-top: 1em;
					text-align: left;
					text-transform: uppercase;
					font-family: Montserrat, sans-serif;
					font-size: 1em;
					color: #ffffff;
					font-weight: 400;
					cursor: pointer;
					transition: all .3s;
					.progressbar {
						position: absolute;
						top: 0;
						left: 0;
						height: 3px;
						width: 100%;
						background: rgb(255, 255, 255);
						z-index: 100;
						.progressbar-fill {
							position: inherit;
							width: inherit;
							height: inherit;
							margin-left: -100%;
							background: #363636;
						}
					}
					span {
						font-size: 1em;
						font-weight: 700;
					}
					&:hover {color: #ffffff; font-weight: bolder;}
				}
			}
		}
		#banner1:checked ~ .slider #top-banner-1,
		#banner2:checked ~ .slider #top-banner-2,
		#banner3:checked ~ .slider #top-banner-3,
		#banner4:checked ~ .slider #top-banner-4 {
			opacity: 1;
			z-index: 1;
		}
		#banner1:checked ~ nav label:nth-of-type(1),
		#banner2:checked ~ nav label:nth-of-type(2),
		#banner3:checked ~ nav label:nth-of-type(3),
		#banner4:checked ~ nav label:nth-of-type(4) {
			cursor: default;
			color: #fff;
			transition: all .5s;
		}
		#banner1:checked ~ nav label:nth-of-type(1) .progressbar,
		#banner2:checked ~ nav label:nth-of-type(2) .progressbar,
		#banner3:checked ~ nav label:nth-of-type(3) .progressbar,
		#banner4:checked ~ nav label:nth-of-type(4) .progressbar {
			background: #fff;
		}
		#banner1:checked ~ nav label:nth-of-type(1) .progressbar-fill,
		#banner2:checked ~ nav label:nth-of-type(2) .progressbar-fill,
		#banner3:checked ~ nav label:nth-of-type(3) .progressbar-fill,
		#banner4:checked ~ nav label:nth-of-type(4) .progressbar-fill {
			animation: progressBarFill 5s linear;
		}
	}
}

/* Animations */
@keyframes progressBarFill {
	from {margin-left: -100%;}
	to {margin-left: 0;}
}


/* Media Queries */

@media only screen and (min-width: 1920px) {
	body {font-size: 18px;}
	.main-header .header-wrapper {width: 57%;}
	#section-1 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 25em;}
}

@media only screen and (max-width: 1919px) {
	body {font-size: 16px;}
	.main-header .header-wrapper {width: 60%;}
	#section-1 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 15em;}
}

@media only screen and (max-width: 1680px) {
	body {font-size: 14px;}
	.main-header .header-wrapper {width: 65%;}
	#section-1 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 23em;}
}

@media only screen and (max-width: 1366px) {
	body {font-size: 12px;}
	.main-header .header-wrapper {width: 70%;}
}

@media only screen and (max-width: 1120px) {
	.main-header .header-wrapper .main-menu li {padding: 0.75em 1.4em;}
	#section-1 .content-slider nav {bottom: -0.2em;}
	#section-1 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 20em;}
	#section-1 .content-slider .slider .banner .banner-inner-wrapper .line {margin: 2em auto;}
}

@media only screen and (max-width: 1024px) {
	body {font-size: 10px;}
	.main-header .header-wrapper .main-menu li {padding: 0.75em 1.3em;}
	#section-1 .content-slider nav {bottom: 0;}
	#section-1 .content-slider nav .controls {width: 80%;}
}

@media only screen and (max-width: 860px) {
	.main-header .header-wrapper .main-menu li {padding: 0.75em 0.9em;}
	#section-1 .content-slider nav {bottom: -1em;}
	#section-1 .content-slider nav .controls {width: 90%;}
	#section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {font-size: 2em;}
	#section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {font-size: 4.5em;}
	#section-1 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 15em;}
}

@media only screen and (max-width: 768px) {
	.main-header .header-wrapper .main-menu li {padding: 0.75em 0.5em;}
	#section-1 .content-slider nav .controls {width: 100%;}
	#section-1 .content-slider nav .controls label {width: 19%; font-size: 0.8em;}
	#section-1 .content-slider .slider .banner .banner-inner-wrapper .line {margin: 1.7em auto;}
}

@media only screen and (max-width: 650px) {.main-header .header-wrapper {width: 95%;}}

@media only screen and (max-width: 480px) {
	.main-header .header-wrapper {width: 97%;}
	.main-header .header-wrapper .main-logo {display: none;}
	.main-header .header-wrapper .main-menu li {padding: 0.2em 0.3em;}
	.main-header .header-wrapper .main-menu li:last-child,
	.main-header .header-wrapper .main-menu li:nth-child(6) {padding: 0.2em 0.7em;}
	#section-1 .content-slider nav {bottom: -0.5em;}
	#section-1 .content-slider nav .controls label {width: 40%; font-size: 0.7em;}
	#section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {font-size: 1.5em;}
	#section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {font-size: 3em;}
	#section-1 .content-slider .slider .banner .banner-inner-wrapper .line {margin: 1.7em auto;}
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
